@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
}


#root {
  --white-color: #ffffff;
  --background-color: #F3F4F6;
  --gray-color: #9a9a9a;
  --black-color: #333333;
  --primary-color: #C0D9DE;
}

.global {
  padding: 10px;
  background: var(--background-color);
}


.header {
  margin: 40px;
  border: 0.5px solid var(--gray-color);
  border-radius: 16px;
  padding: 16px 24px;
  background: rgba(90, 90, 90, 0.3);
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  color: var(--white-color);
}

.header .form-control {
  width: 200px;
  opacity: 0.5;
  /* Adjust width as needed */
}

.header .navLink {
  color: var(--white-color);
  border-bottom: 1px solid transparent;

}

.navLink:hover {
  border-bottom: 1px solid var(--white-color);
}

.header .navLink.active {
  border-bottom: 1px solid var(--white-color);
}


.logo-name {
  font-size: 16px;
  color: var(--white-color);
}


.heroImage-container {
  position: relative;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  height: 620px;
}


.heroImage-content {
  position: absolute;
  top: 65%;
  left: 20px;
  bottom: 20px;
  color: var(--white-color);
}

.heroImage-title {
  font-size: 48px;
  font-weight: 500;

}

.heroImage-description {
  font-size: 24px;
  font-weight: 400;
}

.title {
  font-size: 48px;
  font-weight: 400;
  color: var(--black-color);

}

.description {
  font-size: 24px;
  font-weight: 400;
  color: var(--black-color);
}

.image-container {
  position: relative;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  height: 550px;
}

.carosel-title {
  position: absolute;
  top: 10px;
  left: 30px;
  color: var(--white-color);
  font-weight: 500;
  font-size: 32px;
}

.carosel-content {
  position: absolute;
  top: auto;
  left: 20px;
  bottom: 20px;
  right: 20px;
  color: var(--white-color);
}

.carosel-item {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 0.25px solid var(--gray-color);
  border-radius: 16px;
  background: rgba(90, 90, 90, 0.3);
  backdrop-filter: blur(10px);
  /* Adjust the blur value as needed */
}


.carosel-card-title {
  color: var(--white-color);
  font-size: 24px;
}

.carosel-card-description {
  color: var(--white-color);
  font-size: 16px;
}

.discover-image-container {
  position: relative;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 10px;
  height: 360px;
}

.discover-content {
  position: absolute;
  left: 20px;
  bottom: 20px;
  right: 20px;
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discover-title {
  font-size: 24px;
  font-weight: 500;
}

.testimonial-section {
  padding: 20px;
  margin: 50px 0;
}

.testimonial-title {
  color: var(--black-color);
  font-weight: 400;
  font-size: 40px;
  text-align: center;
}

.testimonial-description {
  color: var(--black-color);
  font-size: 24px;
  font-family: 300;
  text-align: center;
  display: flex;
  justify-content: center;

}

.testimonial-card {
  padding: 24px;
  border-radius: 16px;
  min-height: 300px;
  background: var(--primary-color);
  margin: 40px 80px;
  border: 1px solid var(--gray-color);
  box-shadow: 0px 0px 8px 4px #6666661A;
  position: relative;
  /* Needed for absolute positioning of slides */
  overflow: hidden;
  /* To hide overflow during transitions */
}

.testimonial-slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  /* Start with invisible */
  transition: opacity 0.5s ease-in-out;
  /* Transition effect */
}

.testimonial-slide.active {
  opacity: 1;
  /* Fully visible for active slide */
}

.testimonial-image-container {
  position: relative;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 10px;
  height: 300px;
  box-shadow: 0px 0px 8px 4px #0000001A;

}

.testimonial-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.testimonial-username {
  font-size: 24px;
  font-weight: 500;
}

.testimonial-review {
  font-size: 24px;
  font-weight: 400;
}

.testimonial-indicator {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicator-dot {
  max-width: 202px;
  width: 100%;
  border: 3px solid var(--white-color);
  margin: 0 5px;
  border-radius: 50px;
  /* Default color for inactive */
  cursor: pointer;
  transition: background 0.3s;
}

.indicator-dot.active {
  border: 3px solid var(--primary-color);
  /* Color for active indicator */
}

.exploreevents-section {
  padding: 20px;
  background: var(--white-color);
  border-radius: 16px;
  min-height: 300px;
}

.exploreevents-button {
  border: none;
  background: none;
  padding: 8px 16px;
  border-radius: 8px;
}

.exploreevents-button.active {
  background: var(--primary-color);
}

.exploreevents-image-container {
  position: relative;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 10px;
  height: 400px;
}

.exploreevents-image-content {
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  color: var(--black-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.exploreevents-image-title {
  font-size: 24px;
  font-weight: 500;
  color: var(--white-color);
}


.exploreclasses-card {
  background: var(--white-color);
  border-radius: 16px;
  box-shadow: -2px 4px 4px 0px #0000001A;
  padding: 16px;
}


.exploreclasses-description{
  font-size: 16px;
  font-weight: 400;
  margin: 15px 0;
}

.primary-button {
  border: 1px solid var(--black-color);
  padding: 8px 8px 8px 12px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}


.secondary-button{
  border: 1px solid var(--white-color);
  padding: 8px 8px 8px 12px;
  height: 40px;
  border-radius: 20px;
  font-size: 16px !important;
  display: flex;
  align-items: center;
  gap: 5px;
}

.connectcard-image-container{
  position: relative;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 10px;
  height: 400px;
}

.connectcard-image ,.discover-image ,.image{ 
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 16px ;
}

.connectcard-content {
  position: absolute; /* Change to absolute positioning */
  top: 50%;
  left: 50%;
  right: 25%;
  transform: translate(-50%, -50%);
  min-height: 200px;
  width: 80%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgba(90, 90, 90, 0.3);
  backdrop-filter: blur(10px);
  padding: 20px; /* Optional: Add padding for better visibility */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Optional: Add some shadow for depth */
}

.connectcard-title{
  font-size: 48px;
  color: var(--white-color);
  text-align: center;
  font-weight: 400;
}

.connectcard-description{
  font-size: 24px;
  color: var(--white-color);
  text-align: center;
  font-weight: 300;
}

.footer-section{
  background: var(--primary-color);
  padding: 40px;
  border-radius: 16px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-policy-link{
  color: var(--black-color);
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
}

.footer-link{
  color: var(--black-color);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .testimonial-card {
    margin: 20px 0px;
  }

  .heroImage-title {
    font-size: 24px;
  }

  .heroImage-description {
    font-size: 16px;
  }

  .title {
    font-size: 24px;
  }

  .carosel-content {
    top: auto;
  }

  .carosel-item {
    padding: 8px;
    margin-bottom: 10px;
  }

  .description {
    font-size: 16px;
  }

  .carosel-title {
    font-size: 18px;
  }


  .discover-title {
    font-size: 18px;
  }

  .carosel-card-title,
  .carosel-card-description ,.connectcard-description ,.secondary-button {
    font-size: 12px !important;
  }

  .testimonial-title {
    font-size: 24px;
  }

  .testimonial-description,
  .testimonial-review ,.connectcard-title  {
    font-size: 18px;
  }
}